<%- include('partials/header.ejs') %>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Esqueci a senha
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    <input type="text" name="username" placeholder="Digite o nome de usuário" class="form-control"><br>
                    <input type="text" name="mail" placeholder="Ou o e-mail cadastrado" class="form-control"><br>
                    <%- include('partials/backornext.ejs') %>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
