<%- include('partials/header.ejs') %>
<body>
    <div class="container rosto float-right">
        <div>
            <a href="/card-manager">
            <div class="btn olho float-left">
                Gerenciar cartões    
            </div>
            </a>

            <a href="/daily-offer">
            <div class="btn olho">
                Ofertas do dia
            </div>
            </a>
        </div>
        <br>
        <div class="boca">
            Acompanhar ou pagar estacionamento
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>