<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Pois Pergunte!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<h1>Introdução - Pois pergunte!</h1>
<%= name %>
<%= lingua %><br><br>

Sintaxes ejs:<br>
&lt% Expressões como IF %&gt<br>
&lt% } %&gt<br><br>
&lt%= Capturar valor de variável %&gt<br><br>
ForEach sintax:<br>&lt %array.forEach(function(each) { %&gt<br>
&lt% }) %&gt

<img src="/img/foto.jpeg">

</body>
</html>